{% extends 'base.html' %}

{% block title %}Formulário{% endblock %}

{% block content %}

    <form method="post" id="seller-form">
        {% csrf_token %}
        CNPJ: <input 
            type="text"
            name="cnpj" 
            value="{% if seller and seller.cnpj %}{{seller.cnpj}}{% endif %}"><br />
        Company Name: <input 
            type="text" 
            name="company_name" 
            value="{% if seller and seller.company_name %}{{seller.company_name}}{% endif %}"><br />
        Bank Name: <input 
            type="text" 
            name="bank_name" 
            value="{% if seller and seller.bank_name %}{{seller.bank_name}}{% endif %}"><br />
        Bank Account: <input 
            type="number" 
            name="bank_account" 
            value="{% if seller and seller.bank_account %}{{seller.bank_account}}{% endif %}"><br />
        Bank Agency: <input 
            type="number" 
            name="bank_agency" 
            value="{% if seller and seller.bank_agency %}{{seller.bank_agency}}{% endif %}"><br />
        
        <input type="submit" form="seller-form">
    </form>
{% endblock %}